body {
    background-color: rgb(243, 221, 238);
}

h1 {
    color: #f7dadf;
    position: relative;
    top: 45px;
    font-size: 50px;
}

header {

    background-color: grey;
    height: 90px;
}

nav {
    color: #f7dadf;
    position: relative;
    top: 45px;
    font-size: 20px;
}

nav li {
    display: inline;
    float: right;
    display: block;
    padding: 8px;
    position: relative;
    top: -40px;
}

nav a {
    color: #f7dadf;
}

section article {
    color: rgb(143, 118, 118);
    font-size: 55px;
    position: relative;
    top: 90px;
    max-height: 22em;
}

article p {
    font-size: 18px;
    text-align: justify;
    position: relative;
    left: 21%;
    top: -190px;
    width: 65%;

}

.section1 {
    display: inline-block;
    width: 260px;
    border-right: 6px solid rgb(143, 118, 118);
    height: 200px;
    padding: 5px 55px;

}

.work {
    display: inline-block;
    width: 260px;
    border-right: 6px solid rgb(143, 118, 118);
    height: 1000px;
    padding: 5px 55px;
    position: relative;
    top: -20px;
    margin: 0 auto;


}

.aboutme {
    height: 250px;
}

.work1 {
    height: 55%;
    position: absolute;
    display: block;
    width: 65%;
    top: 20%;
    left: 21%;
    border: 8px solid rgb(143, 118, 118);
    object-fit: none;
}



.work2 {
    height: 20%;
    width: 32%;
    position: absolute;
    display: block;
    top: 77%;
    left: 21%;
    object-fit: none;
    border: 6px solid rgb(143, 118, 118);

}

.work3 {
    height: 20%;
    width: 32%;
    display: block;
    position: absolute;
    top: 77%;
    left: 54%;
    object-fit: none;
    border: 6px solid rgb(143, 118, 118);
}

.hoover3 img:hover {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 20%;
    width: 32%;
    top: 77%;
    left: 54%;
    opacity: 40%;
    border: 0;
}

.hoover2 img:hover {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 20%;
    width: 32%;
    top: 77%;
    left: 21%;
    opacity: 40%;
    border: 0;
}

.hoover1 img:hover {
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    height: 55%;
    width: 65%;
    top: 20%;
    left: 21%;
    opacity: 40%;
    border: 0;
}


.contactme {
    display: inline-block;
    width: 260px;
    border-right: 6px solid rgb(143, 118, 118);
    height: 125px;
    padding: 5px 40px;
    margin: 0 auto;
    font-size: 45px;
}


.contactlinks ul {
    font-size: 25px;
    color: pink;
    position: absolute;
    bottom: -10%;
    left: 21%;
}


.contactme li {
    display: inline;
    float: right;
    display: block;
    padding: 50px;
    position: relative;
    top: 30px;
    right: 5%;
}


@media screen and (max-width: 1255px) {
    header {
        display: flex;
        flex-direction: column;


    }

    header li {
        order: 1;
        text-align: center;
        margin: 0 auto;

    }

    nav {
        margin: 0 auto;
    }

    h1 {
        order: 2;
        margin: 0 auto;
    }

    header {
        height: 150px;
    }


    article p {
        border-right: none;
        color: rgb(104, 82, 98);
        font-size: 20px;
        margin: 0;
        padding: 50px;
        text-align: left;

    }


    .section1 {
        border-right: none;
        color: rgb(104, 82, 98);
        font-size: 50px;
        display: flex;
        flex-wrap: wrap;
        order: 1;
        margin: 0 auto;
        padding: 0;


    }

    

    .work {
        border: none;
        color: rgb(104, 82, 98);
       left: 300px;
        text-align: center;
        padding: 175px 0;
    }

    .work1 {
        height: 150px;
        margin: 220px 0 0 0;
        border: 6px solid rgb(104, 82, 98);
    }

    .hoover1 img:hover {
        height: 150px;
    }


    .wrappics {
        order: 3;
        flex-wrap: wrap;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .work2,
    .work3 {
        height: 100px;
        position: absolute;
        top: 53%;
        border: 6px solid rgb(104, 82, 98);
    }

    .hoover3 img:hover {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        top: 53%;
        height: 100px;
    }

    .hoover2 img:hover {
        background-color: rgba(255, 255, 255, .5);
        position: absolute;
        height: 100px;
        top: 53%;
    }

    #work {
        display: absolute;
        right:100px;


    }

    .contactme li {
        order: 2;
        flex-wrap: wrap;
        float: left;
        display: aboslute;
        bottom: 180px;
    }

    .contactlinks {
        display: flex;
        flex-direction: column;
    }

    .contactlinks li {
        display: absolute;
        right: 15%;
        top: 90%;
        height: 80px;
        margin: 0 auto;
        font-size: 22px;
        padding: 0 180px;
    }

    .contactme {
        display: flex;
        flex-direction: column;
        border: none;
    }

    h3 {
        order: 1;
        font-size: 40px;
        color: rgb(104, 82, 98);
        position: absolute;
        bottom: 32%;

    }

}

